@markdowncss@

/* ------------------------------------------------------------------ */

.markdown-body {
  font-family: "@fontsSansSerif@";

  & :is(h1, h2, h3, h4, h5, h6) {
    font-family: "@fontsSerif@";
  }

  & code {
    font-family: "@fontsMonospace@";
  }

  /* Metadata */
  & hr:first-child + h2 {
    font-family: "@fontsMonospace@";
    font-size: 85%;
    font-weight: inherit;
  }
}

#page-header {
  font-family: "@fontsSansSerif@";
}

/* ------------------------------------------------------------------ */

x-mention::before {
  content: "";
  display: block;
  border-top: 2px solid #8800ff;
  margin: 4px -16px;
  padding-bottom: 4px;
}
x-mention {
  font-size: 120%;
  font-weight: bold;

  & .mention-colon {
    font-weight: normal;
  }
}
