@markdowncss@

/* ------------------------------------------------------------------ */

.markdown-body {
  font-family: "@fontsSansSerif@";

  & :is(h1, h2, h3, h4, h5, h6) {
    font-family: "@fontsSerif@";
  }

  & code {
    font-family: "@fontsMonospace@";
  }

  /* Metadata */
  & hr:first-child + h2 {
    font-family: "@fontsMonospace@";
    font-size: 85%;
    font-weight: inherit;
  }
}

#page-header {
  font-family: "@fontsSansSerif@";
}

/* ------------------------------------------------------------------ */

x-mention {
  --accent: #8800ff;

  font-size: 120%;
  font-weight: bold;

  &::before {
    content: "";
    display: block;
    border-top: 2px solid var(--accent);
    margin: 0.25rem -1rem;
    padding-bottom: 0.25rem;
  }

  & .mention-colon {
    font-weight: normal;
  }
}

.markdown-body > p:first-child > x-mention:first-child::before {
  display: none;
}

x-file-ref {
  --accent: #ff00ff;

  font-family: monospace;
  display: inline-block;
  position: relative;
  color: var(--accent);

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: -1px -2px;
    background-color: color-mix(in srgb, var(--accent), transparent 96.25%);
    border: 1px solid color-mix(in srgb, var(--accent), transparent 90%);
    border-radius: 4px;
    pointer-events: none;
  }
}

thinking {
  /* NOTE: this is a fallback if the plug-in fails to process <thinking> tags. */
  display: block;
  border: 1.5px solid rgb(0 0 0 / 0.1);
  border-radius: 4px;
  background-color: rgb(0 0 0 / 0.01);
  padding: 1rem;

  & > :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.x-thinking {
  --accent: #8060c4;

  display: block;
  background-color: color-mix(in srgb, var(--accent), transparent 96.25%);
  border: 1px solid color-mix(in srgb, var(--accent), transparent 90%);
  border-radius: 4px;
  margin-inline: -1rem;
  padding: 1rem;

  & > summary {
    cursor: pointer;
    list-style: none;
    margin: -1rem;
    padding: 1rem;

    & > .thinking-tag {
      color: var(--accent);
      font-family: monospace;

      &.tag-open {
        display: inline-block;
        padding-right: 4px;
      }

      &.tag-close {
        display: inline-block;
        padding-left: 4px;
      }
    }
  }

  &[open] > summary {
    margin-bottom: 0;
  }

  & > :first-child + * {
    margin-top: 0;
    padding-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:has(+ p > x-mention) {
    margin-bottom: 1rem;
  }
}

/* ------------------------------------------------------------------ */
/* See https://github.com/antfu/markdown-it-github-alerts/blob/main/styles/github-base.css */
/* See https://github.com/antfu/markdown-it-github-alerts/blob/main/styles/github-colors-light.css */

.markdown-alert {
  --color-note: #0969da;
  --color-tip: #1a7f37;
  --color-warning: #9a6700;
  --color-severe: #bc4c00;
  --color-caution: #d1242f;
  --color-important: #8250df;

  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: 0.25em solid #888;
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.markdown-alert .markdown-alert-title .octicon {
  margin-right: 0.5rem;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--color-note);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-note);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--color-important);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--color-important);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--color-warning);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--color-warning);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--color-tip);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--color-tip);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--color-caution);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--color-caution);
}
